@charset "UTF-8";
@use "../css/reset";

/* 공통 css */

//로 표기된 주석은 컴파일 안된다. /* */ 이 주석은 컴파일 된다.
//$변수명 : 속성값;

// 변수 설정
$bg-color : #fff;
$main-font : 'pretendard', sans-serif;
$basic-font-size : 1.6rem;
$tit-color: #1d1d1d;
$text-color: #555;
$border : 1px solid #c6c6c6;
$basic-border-radius : 12px;
$input-radius: 8px;

$bg-dark :  #000;
$dark-mode-color : #fff;
$btn-bg : #256EF4;
$btn-color : #fff;

// flex 믹스인
@mixin flex($direction, $justify-content, $align-items, $gap : 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap
}

@mixin border($border, $radius : 0) {
    border: $border;

    @if $radius != 0 {
        border-radius: $radius;
    }
}

@mixin hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin-left: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: rect(0,0,0,0);
}

@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

.hidden {
    @include hidden
}

html {
    height: 100%;
    background: $bg-color;
    font: {
        family: $main-font;
        size: 62.5%; /* 10px */
    };
    color: $text-color;
        &[dark-type="dark"] {
            background-color: $bg-dark;
            color: $dark-mode-color;
        }
}

body {
    overflow: hidden;
    @include flex(column, center, center, 30px);
    height: 100%;
    min-width: 320px;
    margin: 0;
    font-size: $basic-font-size; /* 16px */
}

form {
    @include flex(column, center, stretch, 1rem);
    padding: 2rem;
    border: $border;
}

input, textarea {
    padding: 1rem;
    $input-radius : 8px;
    @include border($border, $input-radius);
}

label {
    @include flex(row, space-between, center, 0.8rem);
}

input, textarea {
    flex: 1;
}

.btn {
    border: none;
    padding: 1rem;
    border-radius: $basic-border-radius;
    color: $btn-color;
    background-color: $btn-bg;
    font-size: 1.6rem;
    font-weight: 600;
}